*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}


header{
	width: 100%;
	padding:50px 0px;
}

.container{
	width: 1140px;
	margin: auto;
}

.logo{
	width:25%;
	float:left;
}

.menu {
    width: 75%;
    float: right;
	text-align: right;   
 }

.menu ul li {
	display: inline-block;
	list-style: none;
	margin-left: 60px;
}

.menu ul li a {
    font-family: 'Playfair Display', serif;
    color: #626262;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
   
 } 











 .details {
    padding: 70px;
}

.details h4 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color:#ceb6b6;
    font-weight: 200;

}

.post-dec h4 {
    margin: 20px 0;
     font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color:#ceb6b6;
    font-weight: 200;
}

.post-dec h1 {
    margin: 20px 0;
     font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin-bottom: 20px;
    color:#626262;
    padding-bottom: 30px; 

}

.details span {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    color:#ceb6b6;
    padding-top: 10px;
}



.details h1 {
    font-family: 'Playfair Display', serif;
    color: #626262;
    margin: 20px 0px;
    font-weight: 600;
}


.details p {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    margin-bottom: 20px;
    color:#626262;
    padding-bottom: 30px; 


font-family: 'Ubuntu', sans-serif;
    color: #626262;
    font-weight: 300;
}


.gallary {
   width: 100%;
    float: left;
    padding: 70px;
}
.left {
    width: 44%;
    float: left;

}
.right {
    width: 44%;
    float: left;
}


.extra {
    padding-right:20px;
    font-family: 'Ubuntu', sans-serif;
    color: #626262;
     font-weight: 300;
     float: right;
}

.extra-2 {
    font-family: 'Ubuntu', sans-serif;
    color: #626262;
    padding-left: 20px;
     float: right;
       font-weight: 300;

}

.newsletter {
      width: 100%;
    display:flow-root;
    background-color: #f0f0f0;
    padding: 70px 0px;
    
}

.subscribe {
    text-align: center;
}
.subscribe h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom:70px;
}


.subscribe input {
    width: 30%;
    padding: 15px 0px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.btn button {
    background-color: transparent;
    border: none;
}
.btn button a {
    text-decoration: none;
    color: #626262;
    padding: 15px 40px;
    font-size: 18px;
    border: 2px solid #626262;
    font-family: 'Playfair Display', serif;
}
.btn {
    text-align: center;
}

.btn button a:hover {
	background-color:  #424242;
}


footer {
    background-color: #f0f0f0;
    padding: 60px 0;
    margin-top: 60px;
}

.f-right li a {
    display: inline-block;
    padding: 0 10px;
    font-size: 22px;
    text-decoration: none;
}
.f-right li {
    list-style: none;
    float: left;
}
.f-left {
    float: left;
}
li {
    text-align: -webkit-match-parent;
}
.f-left li {
    list-style: none;
    float: left;
}
.f-left li a {
    padding: 0 10px;
    font-size: 22px;
    text-decoration: none;
}
.f-right {
    float: right;
}